In [1]:
a=10
b=20
a**b

100000000000000000000

In [2]:
a=5
b=2
a**b

25

In [3]:
a/b

2.5

In [4]:
a//b

2

In [5]:
a%b

1

In [6]:
s1="Vikas"
s2="Boda"
s1+s2

'VikasBoda'

In [7]:
s1+2

TypeError: can only concatenate str (not "int") to str

In [8]:
s1*3

'VikasVikasVikas'

In [9]:
s1*s2

TypeError: can't multiply sequence by non-int of type 'str'

In [10]:
s1*2.5

TypeError: can't multiply sequence by non-int of type 'float'

In [11]:
s1=5
s1*2.5

12.5

In [12]:
x=10
x/0

ZeroDivisionError: division by zero

In [13]:
x**0

1

In [14]:
x//0

ZeroDivisionError: integer division or modulo by zero

In [15]:
a=10
b=20
a<b

True

In [16]:
a>b

False

In [17]:
a<=b

True

In [18]:
a>=b

False

In [19]:
a==b

False

In [20]:
s1="Hello"
s2="Bye"
s1>s2

True

In [21]:
s1="A" #65
s2="B" #66
s1<s2

True

In [22]:
s1="A"
s2="a"
s1<s2

True

In [24]:
s1="A"
b="20"
s1<b

False

In [25]:
10<20<30<40

True

In [26]:
10<20<5<30<40

False

In [27]:
10 and 20

20

In [28]:
10 and 0

0

In [29]:
20 and 10

10

In [30]:
"Hello" and 20

20

In [31]:
20 and "Hello"

'Hello'

In [32]:
0 and 20

0

In [33]:
10 or 20

10

In [34]:
0 or 20

20

In [35]:
not 20

False

In [36]:
not 0

True

In [37]:
"" and "Hello"

''

In [38]:
" " and "Hello"

'Hello'

In [39]:
"Hello" and " "

' '

In [40]:
10<<1

20

In [41]:
7<<1

14

In [42]:
2.5<<1

TypeError: unsupported operand type(s) for <<: 'float' and 'int'

In [43]:
10>>1

5

In [44]:
7>>1

3

In [45]:
14>>1

7

In [46]:
a=10
b=a

In [47]:
10=c

SyntaxError: can't assign to literal (<ipython-input-47-12c90c8a8502>, line 1)

In [48]:
a=10
a-=5
a

5

In [49]:
a*=2
a

10

In [50]:
a=10
a*=2
a

20

# Ternary Operator

In [ ]:
Syntax: 
    x=firstvalue if condition else secondvalue

In [2]:
#Program to find biggest number of given 2 numbers
a=10
b=30
x=a if a>b else b
print("Biggest number is :",x)

Biggest number is : 30

In [3]:
#Biggest number of given three
a=10
b=20
c=30
x=a if a>b and a>c else b if b>c else c
print(x)

30

In [4]:
#smallest number of given 3

a=10
b=20
c=30
x=a if a<b and a<c else b if b<c else c
print(x)

10

# Special Operators:

In [ ]:
1. Identity Operators
2. Membership Operators

### 1. Identity Operators

In [ ]:
We can use identity operators for address comparison.

In [ ]:
1. is 
2.is not

In [6]:
#Example program 
a=10
b=20
print(a is b)
print(id(a))
print(id(b))

False
140716631368368
140716631368688

In [7]:
#Example program 
a=10
b=10
print(a is b)
print(id(a))
print(id(b))

True
140716631368368
140716631368368

In [8]:
#Example program 
a=10
b=20
print(a is not b)
print(id(a))
print(id(b))

True
140716631368368
140716631368688

In [9]:
#Example program 
a="Hello"
b="hello"
print(a is b)
print(id(a))
print(id(b))

False
2062529084592
2062529084400

In [11]:
l1=["Ramesh","Vikas","Suresh"]
l2=["Venky","Vikas","Suresh"]
print(id(l1))
print(id(l2))
print(l1 is l2)

2062528866248
2062528865352
False

### Membership Operators

We can use membership operators to check whether the given object is present in the given collection of elements.
(example:  list, set,dict,tuple,string...)

In [ ]:
1. in 
2. not in

In [12]:
#Example program
s="Vikas"
print('V' in s)

True

In [13]:
#Example program
s="Vikas"
print('v' in s)

False

In [14]:
#Example program
s="Vikas How are you"
print('Venky' in s)

False

In [15]:
#Example program
s="Vikas How are you"
print('Vikas' in s)

True

In [16]:
#Example program
s="Vikas How are you"
print('ViKas' in s)

False